<%= render 'shared/error_messages', object:f.object %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :start %>
<div class="datetime_select">
  <%= f.datetime_select :start, minute_step:10 %>  
</div>

<%= f.label :ending %>
<div class="datetime_select">
  <%= f.datetime_select :ending, minute_step:10  %>
</div>
